<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" />
<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />

<div class="flex justify-center items-center flex-wrap gap-5 p-5  rounded-lg shadow-lg">
<i class="devicon-amazonwebservices-plain-wordmark colored text-5xl transition-transform duration-300 hover:scale-125"></i>
<i class="devicon-docker-plain-wordmark colored text-5xl transition-transform duration-300 hover:scale-125"></i>
<i class="devicon-java-plain colored text-5xl transition-transform duration-300 hover:scale-125 hover:text-blue-600"></i>
<i class="devicon-javascript-plain colored text-5xl transition-transform duration-300 hover:scale-125 hover:text-blue-600"></i>   
<i class="devicon-python-plain colored text-5xl transition-transform duration-300 hover:scale-125 hover:text-blue-600"></i>
<i class="devicon-php-plain colored text-5xl transition-transform duration-300 hover:scale-125 hover:text-blue-600"></i>
<i class="devicon-react-original-wordmark colored text-5xl transition-transform duration-300 hover:scale-125 hover:text-blue-600"></i>
<i class="devicon-sqldeveloper-plain text-5xl transition-transform duration-300 hover:scale-125 hover:text-blue-600"></i>
<i class="devicon-tensorflow-original colored text-5xl transition-transform duration-300 hover:scale-125"></i>

          
</div>
